{% extends 'base.html' %}

{% block content %}
    <meta charset="UTF-8">
    {% set list=['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
                   'инженер по терраформированию', 'климатолог',
                   'специалист по радиационной защите', 'астрогеолог', 'гляциолог',
                   'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода',
                   'киберинженер', 'штурман', 'пилот дронов'] %}

    {% if type == 'ol' %}
        <ol>
            {% for elem in list %}
                <li>{{ elem }}</li>
            {% endfor %}
        </ol>
    {% elif type == 'ul' %}
        <ul>
            {% for elem in list %}
                <li>{{ elem }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Неверный формат параметра</p>
    {% endif %}
{% endblock %}